.elections {
  flex-direction: column;
  gap: 1.5rem;
}

.elections > h2 {
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
}

.elections > div {
  width: 100%;
  display: grid;
  gap: 1.2rem;
}

.question__option {
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  padding: 0.5rem;
}

.question__option > button {
  background-color: var(--bg-color) !important;
  width: 100%;
}

@media (min-width: 678px) {
  .elections > div {
    grid-template-columns: repeat(2, 1fr);
  }
}
