.result__container {
  flex-direction: column;
  gap: 1.5rem;
}

.result__container > h2,
.result__container > h3 {
  text-align: center;
}

.result__container img {
  max-width: 100%;
}

.result__container > div.flex__center {
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.result__container > div.flex__center > ul {
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .result__container > div.flex__center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
